{% extends "/base.html.twig" %}
{% block menu_post %}
	active
{% endblock %}

{% block body %}
	<article class="row d-flex flex-wrap justify-content-between">
		<p class="align-self-end"><a class="card-link" href="/post/list">Retour</a></p>
		{# Formulaire d'ajout de commentaire #}
		{% if is_granted() == "utilisateur" %}
			<section class="col">
				{{ include('front/comment/create.html.twig') }}
			</section>
		{% else %}
			<div class="col-lg-5 mt-lg-4">
				<img src="/image/post.png" alt="image-post" class="w-100">
			</div>
		{% endif %}

		{# Article #}
		<section class="col-lg-5 col-sm-6 mt-lg-4 p-4 d-flex flex-column">
			<div>
				<h1 class="p-2 rounded" style="background-color:pink;">{{ post.title }}</h1>
				<h2 class="fs-5">{{ post.chapo }}</h2>
				<p class="mw-25 text-justify">{{ post.content }}</p>
				{% if post.updatedAt != null %}
					<ul class="list-group">
						<li class="fs-6 list-group-item">
							Modifié le :
							<time datetime="{{ post.updatedAt|date('d-m-Y') }}">{{ post.updatedAt|date('d-m-Y') }}</time>
							<time datetime="{{ post.updatedAt|date('H:i:s') }}">{{ post.updatedAt|date('H:i:s') }}</time>
						</li>
					</ul>
				{% endif %}
				<ul class="list-group mt-3">
					<li class="fs-6 list-group-item">
						Publié par
						{{post.user}}
						le 
						<time datetime="{{ post.createdAt|date('d-m-Y')}}">{{ post.createdAt|date('d-m-Y') }}</time>
						<time datetime="{{ post.createdAt|date('H:i:s')}}">{{post.createdAt|date('H:i:s')}}</time>
					</li>
				</ul>
				<div class="d-flex">
					{% if is_granted() == "super_admin" %}
						<a class="card-link" href="/post/update/{{ post.slug }}">Modifier</a>
						{{ include('admin/post/_delete.html.twig') }}
					{% endif %}
				</div>
			</div>

			<section class="col py-5">
				<h2>Bubbles Comment</h2>
				<div>
					{% if comments is empty %}
						<p>
							Cet article n'a pas encore de Bubbles Comment.
							<br>
							À ton clavier 😄
						</p>
					{% elseif commentsCheck is empty %}
						<p>Cet article n'a pas encore de Bubbles Comment validé!
							<br>
						</p>
					{% else %}
						{% for commentCheck in commentsCheck %}
							<div class="col-sm-6 mb-3">
								<div class="card shadow-sm bg-body rounded me-3 mb-5" style="min-width: 20rem; min-height: 12rem;">
									<div class="card-body flex-wrap">
										{% if commentCheck.status == 1 %}
											<h5 class="card-title">
												Bubble Comment Validé
												<i class="fa-solid fa-face-smile" style="color: #17cf1a;"></i>
											</h5>
										{% endif %}

										<p class="text-justify pb-2 mb-4 border-bottom border-light">{{ commentCheck.content }}</p>
										<ul class="list-group mb-3">
											<li class="fs-6 list-group-item">
												Publié par
												{{ commentCheck.pseudo }}
												le
												<time class="fst-italic" datetime="{{ commentCheck.createdAt|date('d-m-Y')}}">{{ commentCheck.createdAt|date('d-m-Y') }}</time>
												<time class="fst-italic" datetime="{{ commentCheck.createdAt|date('H:i:s')}}">{{commentCheck.createdAt|date('H:i:s')}}</time>
											</li>
										</ul>
										{% if is_granted() == "utilisateur" %}
											{% set user = user() %}
											{% if commentCheck.pseudo ==  user.pseudo %}
												<a class="card-link" href="/comment/update/{{ commentCheck.id }}">Modifier</a>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>	
						{% endfor %}
					{% endif %}
			</section>
		</section>
	</article>
{% endblock %}
