{% extends "/base.html.twig" %}
{% block menu_user %} active {% endblock %}
{% block body %}

    <article class="d-flex flex-column justify-content-center">
		<h1 class="text-center mb-4">Bubbles Users</h1>

		<a class="bluegrey mb-4" href="/admin/dashboard">Retour</a>
        
        <section class="d-flex flex-wrap justify-content-center border border-dark-subtle border-2 rounded p-3">
            {% for user in users %}
            {% set role = user.role %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Numéro {{ user.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.pseudo }}</h6>
                        <p class="card-text">{{ user.email }}</p>
                        
                        {% if role is empty %}
                            <p class="card-text">aucun Bubbles Role attribué</p>
                        {% else %}
                             <p class="card-text">{{ role }}</p>
                        {% endif %}

                       <div class="d-flex">
							<a class="bluegrey me-3" href="/user/update/{{ user.id }}">Modifier</a>
                            {{ include('admin/user/_delete.html.twig') }}
                       </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        <a class="bluegrey my-4" href="/user/create">Nouveau Bubbles User</a>
    </article>

{% endblock %}