{% extends "/base.html.twig" %}

{% block menu_user %}
	active
{% endblock %}

{% block body %}
	<article class="row d-flex flex-wrap">
		<p>
			<a class="card-link my-4" href="/user/read">Retour</a>
		</p>
		<div class="col-lg-5 mt-lg-4">
			<img src="/image/admin-user.png" alt="image-user" class="mw-100">
		</div>

		<section class="col-lg-6 p-lg-5">
			<h1>
				Modifier Bubbles User
				<span class="marker-dark">{{ user.pseudo }}</span>
			</h1>
			<form action="/user/update/{{ user.id }}" method="post" class="row g-3">
				<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
				<div class="mb-2">
					{% for role in roles %}
						{% if role.id == role_current_user %}
							<div class="form-check ms-1">
								<input class="form-check-input" type="radio" name="role" id="Role" value="{{ role.id }}" checked>
								<label class="form-check-label" for="Role">{{ role.name }}</label>
							</div>
						{% else %}
							<div class="form-check ms-3">
								<input class="form-check-input" type="radio" name="role" id="Role" value="{{ role.id }}">
								<label class="form-check-label" for="Role">{{ role.name }}</label>
							</div>
						{% endif %}
					{% endfor %}
					<label class="form-label h6" for="Role">Rôle*</label>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="text" name="pseudo" id="Pseudo" class="form-control" value="{{ user.pseudo }}"/>
						<label class="form-label h6" for="Pseudo">Prénom/Pseudo*</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="email" name="email" id="form3Example3c" class="form-control" value="{{ user.email }}"/>
						<label class="form-label h6" for="form3Example3c">Email*</label>
					</div>
				</div>

				<p class="text-danger">Si tu ne souhaites pas changer ton mot de passe... bah fais rien </p>
				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password" id="password" class="form-control"/>
						<label class="form-label h6" for="form3Example4c">Mot de passe</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password_2" id="password_2" class="form-control"/>
						<label class="form-label h6" for="">Confirmez mot de passe</label>
					</div>
				</div>
				<button class="bluegrey my-4" type="submit">Modifier</button>
			</form>
		</section>
	</article>
{% endblock %}
