{% extends "/base.html.twig" %}

{% block menu_user %}
	active
{% endblock %}

{% block body %}
	<article class="d-flex flex-column justify-content-center">
		<h1 class="text-center mb-5">Modifier bubble User {{ user.pseudo }} !</h1>
		<p class="text-danger fst-italic text-center">Les champs marqués d'un * sont obligatoires.</p>
		<a class="bluegrey mb-4" href="/user/read">Retour</a>

		<div class="d-flex flex-wrap justify-content-center border border-dark-subtle border-2 rounded p-3">
		<form action="/user/update/{{ user.id }}" method="post" class="d-flex flex-column p-4 mx-1 mx-md-4">
			<section class="col-lg-6 col-xl-6 col-xxl-6 col-xs-12 col-sm-12">
				<div class="my-3">
					{% for role in roles %}
						{% if role.id == role_current_user %}
							<div class="form-check ms-1">
								<input class="form-check-input" type="checkbox" name="role" id="Role" value="{{ role.id }}" checked>
								<label class="form-check-label" for="Role">{{ role.name }}</label>
							</div>
						{% else %}
							<div class="form-check ms-3">
								<input class="form-check-input" type="checkbox" name="role" id="Role" value="{{ role.id }}">
								<label class="form-check-label" for="Role">{{ role.name }}</label>
							</div>
						{% endif %}
					{% endfor %}
					<label class="form-label h6" for="Role">Rôle</label>
				</div>
			</section>

			<section class="">
				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="text" name="pseudo" id="Pseudo" class="form-control" value="{{ user.pseudo }}"/>
						<label class="form-label h6" for="Pseudo">Prénom/Pseudo</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="email" name="email" id="form3Example3c" class="form-control" value="{{ user.email }}"/>
						<label class="form-label h6" for="form3Example3c">Email</label>
					</div>
				</div>
			</section>

			<section>
				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password_1" id="password_1" class="form-control"/>
						<label class="form-label h6" for="form3Example4c">Mot de passe</label>
					</div>
				</div>

				<div class="d-flex flex-row align-items-center mb-4">
					<div class="form-outline flex-fill mb-0">
						<input type="password" name="password_2" id="password_2" class="form-control"/>
						<label class="form-label h6" for="">Confirmez mot de passe</label>
					</div>
				</div>
			</section>

			<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
				<button type="submit" class="bluegrey">Modifier</button>
			</div>
		</form>
		</div>
	</article>
{% endblock %}
