{% extends "/base.html.twig" %}

{% block body %}
	<article class="row d-flex flex-wrap">
		<div class="col-lg-5 my-4">
			<img src="/image/space.png" alt="image-space" class="w-100">
		</div>
		<section class="col-lg-7 p-3 d-flex flex-wrap justify-content-center">
			<div class="mb-4">
				<h1>Bienvenue dans ton Bubbles Space!</h1>
				<h6 class="fs-5">C'est ici que tu gères tes Bubbles Comment.</h6>
			</div>
			{% if comments|length == 0 %}
				<div class="d-flex flex-column">
					<h2>Tu n'as pas encore de Bubbles Comment !</h2>
					<p class="fs-5">Rends toi sur la page des Bubbles Post, choisis, lis, écris...</p>
					<p class="fs-5">À toi de jouer! 😁</p>
				</div>
			{% else %}
				{% for comment in comments %}
					<div class="d-flex mb-3">
						<div class="card shadow-sm bg-body rounded me-3 mb-5" style="width: 18rem; min-height: 12rem;">
							<div class="card-body flex-wrap">
								<h6 class="card-title">
									{% if comment.status == 1 %}
										Bubbles Comment validé
										<i class="fa-solid fa-face-smile" style="color: #17cf1a;"></i>
									{% elseif comment.status == 2 %}
										Bubbles Comment en attente
										<i class="fa-solid fa-circle-question" style="color: #eda507;"></i>
									{% elseif comment.status == 0 %}
										Bubbles Comment rejeté
										<i class="fa-solid fa-circle-xmark" style="color: #ed072a;"></i>
									{% endif %}
								</h6>
								<p class="card-text">{{ comment.content }}</p>
								<div class="d-flex">
									<a class="card-link" href="/comment/update/{{ comment.id }}">Modifier</a>
									{{ include('front/comment/_delete.html.twig') }}
								</div>
								<ul class="list-group">
									<li class="fs-6 list-group-item">
										Titre Bubbles Post :
										{{comment.post}}
										<br>
										Auteur :
										{{ author.pseudo }}
										<br>
										Publié le :
										<time datetime="{{ post.createdAt|date('d-m-Y') }}">{{ post.createdAt|date('d-m-Y') }}</time>
										<time datetime="{{ post.createdAt|date('H:i:s') }}">{{ post.createdAt|date('H:i:s') }}</time>
									</li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	</article>
{% endblock %}
