{% extends "/base.html.twig" %}
{% block menu_post %} active {% endblock %}

{% block body %}
    <article class="row">
        <section class="col-6" style="background-color:pink">
            <div class="d-flex justify-content-between my-3">
                <h1>{{ post.title }}<a class="btn ms-5" href="/post/list">Retour</a></h1>
            </div>
            <h2>{{ post.chapo }}</h2> 
                <p class="fst-italic"> Publié le
                <time datetime="{{ post.createdAt|date('d-m-Y')}}">{{ post.createdAt|date('d-m-Y') }}</time>
                <time datetime="{{ post.createdAt|date('H:i:s')}}">{{post.createdAt|date('H:i:s')}}</time>
            </p>
                <p class="text-justify">{{ post.content }}</p>
                <p class="fw-bolder">Auteur : {{post.user}}</p>
                <p> <span class="fw-bolder">Modifié le : </span>
                    <time datetime="{{ post.updatedAt|date('d-m-Y') }}">{{ post.updatedAt|date('d-m-Y') }}</time>
                    <time datetime="{{ post.updatedAt|date('H:i:s') }}">{{ post.updatedAt|date('H:i:s') }}</time>
                </p>
            
            <div class="d-flex">
            	<a class="btn" href="/post/update/{{ post.slug }}">éditer</a>
				{{ include('post/_delete.html.twig') }}
            </div>
        </section>

        {# Formulaire d'ajout de commenatire #}
        <section class="col-6" style="background-color:grey">
            {{ include('comment/create.html.twig') }}
        </section>

        {# Liste des commentaires déjà postés et validés #}
        <section class="py-3" style="background-color:orange">
        <h2>Commentaires</h2> 
            {% if comments is empty %}
                <p>Cet article n'a pas encore de commentaire. <br>
                Donnez votre avis.</p>
            {% else %}
                {% for commentCheck in commentsCheck %}
                    <p class="text-justify fs-5 pb-2 mb-4 border-bottom border-light">{{ commentCheck.content }} <br>
                    Publié par <span class="fw-bolder">{{ commentCheck.user }}</span> le
                    <time class="fst-italic" datetime="{{ commentCheck.createdAt|date('d-m-Y')}}">{{ commentCheck.createdAt|date('d-m-Y') }}</time>
                    <time class="fst-italic" datetime="{{ commentCheck.createdAt|date('H:i:s')}}">{{commentCheck.createdAt|date('H:i:s')}}</time>
                    {% if commentCheck.status == 1 %}
                        Validé <i class="fa-solid fa-circle-check" style="color: #17cf1a;"></i>
                    {% endif %}
                </p>
                {% endfor %}
            {% endif %}
        </section>
</article>
{% endblock %}