{% extends "/base.html.twig" %}
{% block menu_user %} active {% endblock %}
{% block body %}
    <h1>Bubbles utilisateurs</h1>
   	<div class="d-flex justify-content-around my-3">
		<a class="btn" href="/main/home">Retour</a>
	</div>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
         {% for user in users %}
         {% set role = user.role %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                {% if role is empty %}
                    <td>aucun rôle attribué</td>
                {% else %}
                    <td>{{ role|capitalize }}</td>
                {% endif %}
                <td  class="d-flex">
                    {% if is_granted() == "Super_admin" %}
                        <a class="btn" href="/user/update/{{ user.id }}">éditer</a>
                        {{ include('user/_delete.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn mb-5" href="/user/create">Ajouter</a>
    
{% endblock %}